
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Poppins", sans-serif;
}


body {
  background-color: #f4f4f4;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}


.container {
  background-color: #fff;
  padding: 20px 30px;
  border-radius: 10px;
  box-shadow: 0 2px 10px rgba(0,0,0,0.1);
  width: 350px;
}

h1 {
  text-align: center;
  margin-bottom: 20px;
}

.input-section {
  display: flex;
  justify-content: space-between;
  margin-bottom: 15px;
}

#task-input {
  flex: 1;
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

#add-btn {
  background-color: #007bff;
  color: #fff;
  border: none;
  padding: 8px 12px;
  margin-left: 5px;
  border-radius: 5px;
  cursor: pointer;
}

#add-btn:hover {
  background-color: #0056b3;
}


ul {
  list-style-type: none;
  max-height: 300px;
  overflow-y: auto;
  padding-right: 6px;
}

li {
  padding: 8px;
  background: #f9f9f9;
  margin-bottom: 8px;
  border-radius: 5px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  cursor: pointer;
}

li.completed {
  text-decoration: line-through;
  color: #aaa;
}

